@import url(./reset.css);
@import url(./C-composition.css);

/* VARIABLES */
:root {
    --bg-clr: #ddd;
    --theme-clr: cornflowerblue;
    --text-clr: #777;
    --text-dark: #333;
    --text-light: #eee;
    /* font size */
    --fs-175: 1.75rem;
    --fs-1: 1rem;
    --fs-075: 1.75rem;
}

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
}