/* U-utility is for utility classes */
.padd-2 {
    padding: 2rem;
}
.padd-1 {
    padding: 1rem;
}

.text-clr {
    color: var(--text-clr);
} 
.text-dark {
    color: var(--text-dark);
} 
.text-light {
    color: var(--text-light);
}
.bold {
    font-weight: bold;
}

.bg-clr {
    background-color: var(--bg-clr);
}
.card-bg-clr {
    background-color: var(--card-bg-clr);
}

.text-align-c {
    text-align: center;
}
.text-align-l {
    text-align: left;
}

.push-right {
    margin-left: auto;
}

.br-05 {
    border-radius: var(--br-05);
}
.br-1 {
    border-radius: var(--br-1);
}
.round {
    border-radius: var(--round);
}

a,
.link {
    cursor: pointer;
    background: transparent;
    color: var(--theme-clr);
    border: none;
    text-decoration: underline;
    font-weight: bold;
}
a:hover,
.link:hover {
    color: var(--text-dark);
}